.container{
    width: 800px;
    height: 800px;
    margin:auto;
}
header{
    width: 100%;
    height: 190px;
    background-image: url(img/5.jpg);
}
main{ 
    width:100%;
    height: 560px;
    background-color: #F5F7FA;
}
footer{
    width: 100%;
    height: 50px;
    background-color: #4D4D4D;
    text-align: center;
}