html {
  font-size: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 50rem;
  margin: 40px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #c1c1c1;
  letter-spacing: 2px;
}

h2 {
  margin: 50px 0 20px;
  letter-spacing: 1px;
}

p {
  margin: 15px 0;
  letter-spacing: .5px;
}

a {
  color: #950904;
  text-decoration: none;
  letter-spacing: 1px;  
  transition: color .2s;
}
a:hover {
  color: #c9130c;
  text-decoration: underline;
}

.page-header {
  width: 100%;
  height: 34vw;
  margin-top: 100px;
  background-image: url(../img/hus1.jpg);
  background-position: 0 100px;
  background-size: contain;
  background-attachment: fixed;
}

.top-bar {
  position: fixed;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  background-color: #fff8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #000000;
}

.page-logo {
  color: #c1c1c1;
  position: absolute;
  top: 100%;
  transform: translateY(-60%);
}

.main-nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  margin: 0 40px;
  cursor: pointer;
  letter-spacing: 1px;
}

main {
  background-color: #fff8f0;
  margin-bottom: 120px;
}

main > article {
  padding: 60px;
}

.main-section,
.page-footer {
  background-color: #202030;
  color: #c1c1c1;
}

.paremeters-section {
  background-color: #d0ccd0;
  color: #202030;
}

.paremeters-section h1 {
  border-color: #202030;
}

.page-footer {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 120px;
  bottom: 0;
  left: 0;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16rem;
}
